<!DOCTYPE html>
<html>
    <head>
        <title>React Docs</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%# <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> %>
        <meta content="user-scalable=0, initial-scale=1.0, minimum-scale=1" name="viewport"/>
        <%= stylesheet_packs_with_chunks_tag 'main' %>
    </head>
    <body>
        <div class="react_docs">
            <%= yield %>
        </div>
    </body>

      <%= javascript_packs_with_chunks_tag 'application', 'react-docs' %>
      <%# <%= javascript_packs_with_chunks_tag 'application', 'react-examples', 'samples', 'full-page-samples' %>
      <%# <%= javascript_packs_with_chunks_tag 'application', 'rails-examples', 'samples', 'full-page-samples' %>
</html>